<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true" scan="true" scanPeriod="30">
	<springProfile name="dev,stag,prod">
		<!-- System Logs(Total) -->
		<appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>/app/partner/server/logs/partner-server.log</file>
			<encoder>
				<pattern>%d [%X{thread-id}] %level [%c] %m%n</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>/app/partner/server/logs/partner-server_%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>50MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				<maxHistory>30</maxHistory>
			</rollingPolicy>
		</appender>
		<!-- Partner Package Logs -->
		<appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>/app/partner/server/logs/partner-app.log</file>
			<encoder>
				<pattern>%d [%X{thread-id}] %level [%c] %m%n</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>/app/partner/server/logs/partner-app_%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>50MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				<maxHistory>30</maxHistory>
			</rollingPolicy>
		</appender>
	</springProfile>

	<!-- Default Console Log -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d [%X{thread-id}] %level [%c] %m%n</pattern>
		</layout>
	</appender>

	<logger name="jdbc" level="warn" />
	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug">
		<springProfile name="dev,stag,prod">
			<appender-ref ref="app" />
		</springProfile>
	</logger>
	<logger name="kr.wrightbrothers" level="debug">
		<springProfile name="dev,stag,prod">
			<appender-ref ref="app" />
		</springProfile>
	</logger>

	<root level="info">
		<springProfile name="dev,stag,prod">
			<appender-ref ref="server" />
		</springProfile>
		<appender-ref ref="Console" />
	</root>

</configuration>