<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true" scan="true" scanPeriod="30">
	<springProfile name="dev,stag,prod">
		<property name="ROOT_LOG_PATH" value="/app/partner/logs"/>
		<property name="ROOT_PACKAGE_NAME" value="kr.wrightbrothers"/>
		<property name="LOG_PATTERN" value="%d [%X{thread-id}] %level [%c] %m%n"/>
		<property name="LOG_DAYS" value="30"/>
		<property name="LOG_FILE_SIZE" value="50MB"/>

		<!-- System Logs(Total) -->
		<appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${ROOT_LOG_PATH}/server/partner-server.log</file>
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${ROOT_LOG_PATH}/server/partner-server_%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>${LOG_FILE_SIZE}</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				<maxHistory>${LOG_DAYS}</maxHistory>
			</rollingPolicy>
		</appender>
		<!-- Partner Package Logs -->
		<appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${ROOT_LOG_PATH}/server/partner-app.log</file>
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${ROOT_LOG_PATH}/server/partner-app_%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>${LOG_FILE_SIZE}</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				<maxHistory>${LOG_DAYS}</maxHistory>
			</rollingPolicy>
		</appender>

		<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>error</level>
				<onMismatch>DENY</onMismatch>
			</filter>
			<file>${ROOT_LOG_PATH}/server/partner-error.log</file>
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${ROOT_LOG_PATH}/server/partner-error_%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>${LOG_FILE_SIZE}</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				<maxHistory>${LOG_DAYS}</maxHistory>
			</rollingPolicy>
		</appender>
	</springProfile>

	<!-- Default Console Log -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d [%X{thread-id}] %level [%c] %m%n</pattern>
		</layout>
	</appender>

	<logger name="jdbc" level="debug" />
	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug">
		<springProfile name="dev,stag,prod">
			<appender-ref ref="app" />
		</springProfile>
	</logger>
	<logger name="${ROOT_PACKAGE_NAME}" level="debug">
		<springProfile name="dev,stag,prod">
			<appender-ref ref="app" />
		</springProfile>
	</logger>

	<root level="info">
		<springProfile name="dev,stag,prod">
			<appender-ref ref="error" />
			<appender-ref ref="server" />
		</springProfile>
		<appender-ref ref="Console" />
	</root>

</configuration>