<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true" scan="true" scanPeriod="30">

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d [%thread] %level [%c] %m%n</pattern>
		</layout>
	</appender>

	<logger name="jdbc.audit" level="error">
		<appender-ref ref="Console" />
	</logger>
	<logger name="jdbc.sqlonly" level="info">
		<appender-ref ref="Console" />
	</logger>
	<logger name="jdbc.resultset" level="error">
		<appender-ref ref="Console" />
	</logger>
	<root level="info">
		<appender-ref ref="Console" />
	</root>

</configuration>